.header {
    margin: 0 2.5rem;
    padding: .5rem 0;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.headerLeft,
.headerRight {
    display: flex;
    align-items: center;

}

a>span {
    margin: 0 30px;
    font-size: 1.3rem;
    cursor: pointer;
    color: white;
}

a>span:hover {
    color: red;
}

.header_icon {
    width: 80px;
    cursor: pointer;
}

.user__avatar {
    font-size: 2rem;
}

@media (max-width: 426px) {
    a>span {
        margin: 0 20px;
        font-size: 15px;
    }

    .header {
        margin: 0 1.5rem;

    }
}

@media (max-width: 376px) {
    a>span {
        margin: 0 15px;
        font-size: 12px;
    }

    .header {
        margin: 0 32px;

    }
}

@media (max-width: 321px) {
    a>span {
        margin: 0 12px;
        font-size: 10px;
    }

    .header {
        margin: 0 22px;

    }

    .header_icon {
        width: 70px;
        cursor: pointer;
        align-items: center;
        display: flex;
    }
}